/*Global*/
*{
    margin: 0;
    padding:0;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

header{
    width: 100%;
    height: 40px;

}


/*local*/

.head li{
    float:right;
    margin-left: 10px;
    margin-right: 10px;
    
}

.head .thead{
    padding-top: 10px;
}

.head img{
    width:40px ;
    border: 1px solid #bbbbbb;
    border-radius: 50%;
    margin-right: 20px;
}

.head{
    display: block;
    margin-top: 20px;
}


/*search*/
.search h1{
    display: inline;
    
    text-align: center;
    font-size: 90px;
    
}

.search .logo{
    padding-top:180px;
    text-align: center;
    
}


.inp{
    display: block;
    margin: auto;
    margin-top: 50px;
    width:35%;
    height:50px;
    border: 1px solid #dddddd;
    border-radius: 50px;
    padding-left: 30px;
    font-size: 17px;
}

.inp:hover{
    box-shadow: 0px 0px 10px #cccccc ;
    
}

.buttons{
    text-align: center;
}

.buttons input{
    margin-top: 40px;
    padding: 10px;
    border:none;
    color:#555555;
    font-size: 15px;
    padding:10px 25px;
    margin-left: 10px;
    border:1px solid #ffffff;
    border-radius: 5px;

}





.languages ul{ 
    display: inline;
    padding: 0;
    
}

.languages li{
    display: inline;
    padding:5px;
}

.languages{
    text-align: center;
    margin-top: 40px;
}

.foot{
    position: absolute;
    width: 100%;
    margin-left: 0px;
    bottom: 0px;
    height: 40px;
    background-color:#eeeeee;
    color: #555555;
    padding-top: 30px;
}

.foot .about-a{
    display: inline-block;
    float: left;
    padding-left: 10px;
}

.foot .about-b{
    display: inline-block;
    float: right;
    padding-right: 10px;
}



.foot li{
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
}


.languages li{
    color:blue;
}


.buttons input:hover{
    background-color:#ffffff;
    border:1px solid #cccccc;
}

/*G colors*/
.gblue{
    color:#4285F4;
}

.gred{
    color:#DB4437;
}


.gyellow{
    color:#F4B400;
}

.ggreen{
    color:#0F9D58;
}

.languages>ul>button{
    border: 0px;
    background-color: white;
    color:blue;
}

.languages>ul>button:hover{
    text-decoration: underline;
}